<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        h3{text-align: center;}
        h2{text-align: center;}
        a{text-align: center;}
    </style>
    <title><%= title %></title>
</head>
<body>
    <%- include('heading.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 ">
        <h1 style="color:black">></span>
        <a href="/electionpage" class="text-black">Home page</a>
    </div>
    <h3 class="text-4xl my-4 font-medium"><%= ele.electionName %></h3>
    <div class="my-6 mx-10 ">
                <h2 class=" text-lg text-black flex gap-1"> Questions <span class="bg-gray-100 ml-2 px-2"><%= noOfQuestions %></span></h2>
                <a href="/electionpage/<%= id %>/que" class="py-1 hover:text-green-600 text-black">-> Manage Questions</a>
                <h2 class=" text-lg text-black flex gap-1"> Voters</h2>
                <a href="/electionpage/<%= id %>/voters" class="py-1 hover:text-green-600 text-black">-> Manage Voters</a>
            </div>
        </div>
    </div>
</body>
</html>